@import url('https://fonts.googleapis.com/css?family=Roboto:300');

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: black;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-header img {
  position: absolute;
  left: 100px;
  top: 0;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.loader {
  align-self: center;
}

.movie-card {
  margin: 20px;
  padding: 20px;
  border: 1px solid lightgrey;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
  min-width: 400px;
}

.movie-row {
  position: relative;
  width: 100%;
  /* justify-content: space-around; */
  border-bottom: 1px solid lightgrey;
  /* margin: 10px 0; */
  height: 120px;
  padding: 10px;
}

.movie-row-content {
  display: flex;
  align-content: center;
  text-align: center;
}

.image-card {
  height: 450px;
}

.image-row {
  height: 100px;
  position: absolute;
  left: 100px;
}

.movies {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: 80vh;

}

.movie-caption {
  border-top: 1px solid lightgrey;
  margin-top: 20px;
  padding-top: 10px;
}

.movie-caption-row {

}
